services:
  app:
    container_name: auth_app_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
      - "5005:5005" # Puerto para debug remoto (opcional)
    volumes:
      - ./src:/app/src # Monta el código fuente para el hot-reload
    environment:
      # Habilitar Flyway
      - SPRING_FLYWAY_ENABLED=true
      # Habilitar DevTools
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      # Configuración para debug remoto (opcional)
      - MAVEN_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    
    # networks:
    #   - mi-red-externa

# networks:
#   mi-red-externa:
#     external: true
